body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.app {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

div {
  text-align: justify;
  margin-left: 20px;
}

h1 {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: px;
  font-weight: bold;
  color: #1774d1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

input[type="text"] {
  width: 30%;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #edf6ff;
  transition: all 0.3s ease;
}

input[type="text"]:hover,
input[type="text"]:focus {
  background-color: #c9e1ff;
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  background-color: #f2f7ff;
  margin: 10px 0;
  padding: 10px;
  color: rgb(36, 36, 209);
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.3s ease;
}

li:hover {
  background-color: #c9e1ff;
}